/* work sans fonts from google  */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&family=Open+Sans:wght@400;700&family=Work+Sans:wght@400;600;700;800&display=swap");
/* Shared  */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.primary-btn{

  background-color: #FF900E;
  color: #fff;
  border-radius: 8px;
  padding: 20px 25px;
  border: none;
  font-weight: 600; 
  font-size: 1.25rem;
  cursor: pointer;
}
/* Header Section */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner section */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-description{
  font-weight: 400; 
  fo

}
.banner img {
  margin-top: 10px;
  width: 100%;
}


main{

  max-width: 970px;
  margin: 0 auto;
}

.teams-img img{
  width: 100%;
}
.teams-container{
  
display: flex;
align-items: center;
padding: 50px;
margin: auto;
} 
.teams-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
} 

.common-title{
  font-size: 1.5rem;
}
.teams-title-part-one{
  color: #727272;
}
.teams-title-part-two{
  color: #FF900E;
}
.teams-text{
padding-left: 70px;
padding-right: 70px;
}
.common-description{
 color: #727272; 
 
}

.some-facts-container{

  display: flex;
  justify-content: space-around;
  text-align: center;
  /* flex-wrap: wrap; */
  
}
.some-facts-box{
border: 1px solid #FF900E;
/* width: 150px;
height:150px; */
padding: 20px 40px;

}

/* mobile Responsive */
@media screen and (max-width: 576px) {
  
  header {
  
    padding: 20px;
  }
  nav,.teams-container, .some-facts-container {
    flex-direction: column;
    padding: 0px;

}
.some-facts-box{
  
  margin-bottom: 10px;
}
.teams-text, .common-title{
  padding: 0px;
  text-align: center;
}
.teams-img{
  grid-template-columns:1fr;
  width: 100%;
}
}
/* tab Responsive */
@media screen and (min-width: 576px)  and (max-width: 960px) {
  
  header {
  
    padding: 50px;
  }
  nav,
  .teams-container,
  .some-facts-container{
    flex-direction: column;
  }
  .some-facts-box{
    width: 100%;
    margin-bottom: 10px;
  }
  .teams-text{
    padding: 0px;
    text-align: center;
  }
}